@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:15px;
	background-color:#B4DAF0;
	box-sizing:border-box;
}

.list {
	margin:0 auto;
	width:800px;
}

.list ul {
	padding:30px;
	background-color:#FFF;
	border:1px #aaa solid;
}

.list ul li {
	height:21px;
	margin:10px 0;
	overflow:hidden;
	position:relative;
}

.list ul li:before {
	content:'●';
	position:absolute;
	top:-1px;
}

.list ul li a {
	display:inline-block;
	color:#000;
	text-decoration:none;
	max-width:580px;
	padding-left:15px;
}

.list ul li a:hover {
	color:#666;
	text-decoration:underline;
}

.list ul li span.more {
	position:absolute;
	left:597px;
	top:0;
}

.list ul li span.time {
	position:absolute;
	left:640px;
	top:0;
}