<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>活动列表</title>
<link type="text/css" rel="stylesheet" href="$ctx/resource/css/module/user/student/activity_list.css" />
</head>
<body>
<div class="list">
  <ul>
  	<li><a href="#">关于做好2016年度国家级创新创业项目中期检查的通知同</a><span class="time">[2017-03-10]</span></li>
  	<li><a href="#">关于做好2016年度国家级创新创业项目中期检查的通知同同</a><span class="time">[2017-03-10]</span></li>
  	<li><a href="#">关于做好2016年度国家级创新创业项目中期检查的通知同同同</a><span class="time">[2017-03-10]</span></li>
  	<li><a href="#">关于做好2016年度国家级创新创业项目中期检查的通知同同同同</a><span class="time">[2017-03-10]</span></li>
  	<li><a href="#">关于做好2016年度国家级创新创业项目中期检查的通知关于做好2016年度国家级创新创业项目中期检查的通知关于做好2016年度国家级创新创业项目中期检查的通知</a><span class="time">[2017-03-10]</span></li>
  	<li><a href="#">关于做好2016年度国家级创新创业项目中期检查的通知同同同同同同同同同同同同同</a><span class="time">[2017-03-10]</span></li>
  	<li><a href="#">关于做好2016年度国家级创新创业项目中期检查的通知同同同同同同同同同同同同同同</a><span class="time">[2017-03-10]</span></li>
  </ul>
</div>
<script type="text/javascript">
	var _ctx = '$ctx';
</script>
<script type="text/javascript" src="$ctx/resource/plugin/requirejs/require.js"></script>
<script type="text/javascript" src="$ctx/resource/js/require-config.js"></script>
<script type="text/javascript">
	require([ "./user/student/activity_list" ], function(page) {
		var p = new page();
		p.main();
		window.page = p;
	});
</script>
<script>
</script>
</body>
</html>
