<nav>
	<ul>
		<li>学生窗口</li>
		<li id="test">
			<img src="$ctx/resource/img/module/web/example.png" /><a>个人空间</a>
		<li>
			<img src="$ctx/resource/img/module/web/example.png" /><a>协同工作</a>
			<ul>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a href="$ctx/login.htm" target="content">待办事项</a>
				</li>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a href="user-register.html" target="content">已办事项</a>
				</li>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a>新建事项</a>
				</li>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a>待发事项</a>
				</li>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a>已发事项</a>
				</li>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a>跟踪事项</a>
				</li>
			</ul>
		</li>
		<li>
			<img src="$ctx/resource/img/module/web/example.png" />
			<a>我的组织</a>
			<ul>
				<li><img src="$ctx/resource/img/module/web/xinjian.png" /><a>所有组织</a></li>
				<li><img src="$ctx/resource/img/module/web/xinjian.png" /><a>我管理的组织</a></li>
				<li><img src="$ctx/resource/img/module/web/xinjian.png" /><a>一般组织</a></li>
			</ul>
		</li>
		<li>
			<img src="$ctx/resource/img/module/web/example.png" />
			<a>活动管理</a>
			<ul>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a href="$ctx/student/activity_list.htm" target="content">活动列表</a>
				</li>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a href="$ctx/student/activity_add.htm" target="content">发布活动</a>
				</li>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a href="$ctx/student/dynamic.htm" target="content">个人动态</a>
				</li>
			</ul>
		</li>
		<li>
			<img src="$ctx/resource/img/module/web/example.png" /><a>查找组织</a>
		</li>
		<li>
			<img src="$ctx/resource/img/module/web/example.png" /><a>创建组织</a>
		</li>
		<li>
			<img src="$ctx/resource/img/module/web/example.png" /><a>个人设置</a>
		</li>
	</ul>
</nav>