<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<link rel="stylesheet" href="$ctx/resource/css/common/common.css" />
<link rel="stylesheet" href="$ctx/resource/css/common/page.css" />
<link rel="stylesheet" href="$ctx/resource/css/module/web/index.css" />
</head>
<body>
<header id="top">
	$!HttpInclude.include("/header.htm")
</header>

<div class="advert">
  <ul>
    <li><img src="$ctx/resource/img/test/0.jpg" /></li>
    <li><img src="$ctx/resource/img/test/1.jpg" /></li>
    <li><img src="$ctx/resource/img/test/3.jpg" /></li>
    <li><img src="$ctx/resource/img/test/5.jpg" /></li>
    <li><img src="$ctx/resource/img/test/6.jpg" /></li>
  </ul>
  <span class="pre"><img src="$ctx/resource/img/module/web/pre.png" /></span>
  <span class="next"><img src="$ctx/resource/img/module/web/next.png" /></span>
</div>

<div class="main">
  <div class="left">
    <h3>最新动态</h3>
    <ul>
      <li><p>[女生节]一颗精致曲奇的诞生过程</p><span>03-15</span></li>
      <li><p>[放飞自我]商大好声音</p><span>03-14</span></li>
      <li><p>[商大影像]听说商大的春色里藏着礼物</p><span>03-11</span></li>
      <li><p>[新生指南]名流新史，只差你一笔</p><span>03-05</span></li>
    </ul>
  </div>
  <div class="right">
    <h3>公示公告</h3>
    <ul>
      <li><p>浙江工商大学2017年大学生结构设计竞赛暨省第十五届大学生...</p><span>03-15</span></li>
      <li><p>关于做好2016年度国家级创新创业项目中期检查的通知</p><span>03-10</span></li>
      <li><p>浙江工商大学第六届“希望杯”大学生电子设计竞赛 暨2017年...</p><span>03-09</span></li>
      <li><p>举办浙江工商大学2017年大学生程序设计竞赛暨浙江省第十四...</p><span>03-06</span></li>
    </ul>
  </div>
</div>

<footer>
  <nav>
    <ul>
      <li><a href="#">联系我们</a></li>
      <li><a href="#">常见问题</a></li>
      <li><a href="#">意见反馈</a></li>
    </ul>
  </nav>
  <p><small>Copyright &copy; campus.com</small></p>
</footer>

<script type="text/javascript">
	var _ctx = '$ctx';
</script>
<script type="text/javascript"  src="$ctx/resource/plugin/requirejs/require.js"></script>
<script type="text/javascript" src="$ctx/resource/js/require-config.js"></script>
<script type="text/javascript">
	require(["./web/index"],function(page){
		var p = new page();
		p.main();
		window.page = p;
	});
</script>
</body>
</html>