<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>用户登录</title>
<link rel="stylesheet" href="$ctx/resource/css/module/web/login.css" />
</head>
<body>
<div class="advert">
<ul class="advert_image">
  <li><a href="http://www.tsinghua.edu.cn/"><img src="$ctx/resource/img/module/web/tsinghua.jpg" width="400" /></a></li>
  <li><a href="http://www.pku.edu.cn/"><img src="$ctx/resource/img/module/web/pku.jpg" width="400" /></a></li>
  <li><a href="http://www.zju.edu.cn/"><img src="$ctx/resource/img/module/web/zju.jpg" width="400" /></a></li>
  <li><a href="http://www.hzic.edu.cn/"><img src="$ctx/resource/img/module/web/hzic.jpg" width="400" /></a></li>
</ul>
<ul class="bottom">
</ul>
</div>
<div class="main">
  <div class="title">
  	<img src="$ctx/resource/img/module/web/logo.png" width="64"/><span>学生组织管理系统</span>
  </div>
  <form method="post" action="">
  	<label for="username"><img src="$ctx/resource/img/module/web/user.png" width="32" /></label><input type="text" id="username" placeholder="请输入用户名" required />
    <label for="password"><img src="$ctx/resource/img/module/web/pwd.png" width="32" /></label><input id="password" type="password" placeholder="请输入密码" required />
    <input type="radio" id="student" name="mold" value="student" /><label for="student">学生</label>
    <input type="radio" id="teacher" name="mold" value="teacher" /><label for="teacher">教师</label>
    <input type="radio" id="business" name="mold" value="business" /><label for="business">商家</label>
    <input type="submit" id="submit" value="登录" />
  </form>
  <nav class="other">
    <ul>
      <li><a href="register_user.html">用户注册</a></li>
      <li><a href="register_org.html">组织注册</a></li>
      <li><a href="find_password.html">忘记密码</a></li>
    </ul>
  </nav>
</div>
<script type="text/javascript">
	var _ctx = '$ctx';
</script>
<script type="text/javascript"  src="$ctx/resource/plugin/requirejs/require.js"></script>
<script type="text/javascript" src="$ctx/resource/js/require-config.js"></script>
<script type="text/javascript">
	require(["./web/login"],function(page){
		var p = new page();
		p.main();
		window.page = p;
	});
</script>
</body>
</html>
