<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>组织注册</title>
<link href="$ctx/resource/css/module/web/register.css" rel="stylesheet" />
<style>
  form {
	  margin-top:35px;
  }
</style>
</head>
<body>
<div class="main">
  <form method="post" action="">
    <div class="title">
      <img src="$ctx/resource/img/module/web/logo.png" width="32"/><span>组织注册</span>
    </div>
    <label for="uid">组织ID：</label><input type="text" id="uid" name="uid" placeholder="请输入组织ID" required />
    <label for="name">组织名：</label><input type="text" id="name" name="name" placeholder="请输入组织名" required />
    <label for="pwd">密码：</label><input type="password" id="pwd" name="pwd" placeholder="请输入密码" required />
    <label for="cpwd">确认密码：</label><input type="password" id="cpwd" name="cpwd" placeholder="请确认密码" required />
    <label for="email">电子箱：</label><input type="email" id="email" name="email" placeholder="请输入电子邮箱" required />
    <label for="school">学校：</label><input type="text" id="school" name="school" placeholder="请输入学校" required />
    <input type="submit" id="submit" name="submit" value="注册" />
  </form>
</div>
<script type="text/javascript">
	var _ctx = '$ctx';
</script>
<script type="text/javascript"  src="$ctx/resource/plugin/requirejs/require.js"></script>
<script type="text/javascript" src="$ctx/resource/js/require-config.js"></script>
<script type="text/javascript">
	require(["./web/register"],function(page){
		var p = new page();
		p.main();
		window.page = p;
	});
</script>
</body>
</html>
