<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>表单模板的添加</title>
</head>
<body>
	<div class="panel-left">
		<div class="panel-left-header">
		
		</div>
		<div class="panel-left-body">
			<a class="all-folder">所有文件夹</a>
			<ul>
				<li>
					<a class="first-level-folder">一级文件夹</a>
					<ul>
						<li>
							<a class="second-level-folder">二级文件夹</a>
						<li>
					</ul>
					<ul>
						<li>
							<a class="second-level-folder">二级文件夹</a>
						<li>
					</ul>
				</li>
				<li>
					<a class="first-level-folder">一级文件夹</a>
					<ul>
						<li>
							<a class="second-level-folder">二级文件夹</a>
						<li>
					</ul>
				</li>
				<li>
					<a class="first-level-folder">一级文件夹</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>