<nav>
	<ul>
		<li>教师窗口</li>
		<li id="test">
			<img src="$ctx/resource/img/module/web/example.png" /><a>职能结构</a>
		<li>
			<img src="$ctx/resource/img/module/web/example.png" /><a>流程管理</a>
			<ul>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a href="$ctx/process/process_designer.htm" target="content">新建流程</a>
				</li>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a href="user-register.html" target="content">已发布流程</a>
				</li>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a>待发布流程</a>
				</li>
			</ul>
		</li>
		<li>
			<img src="$ctx/resource/img/module/web/example.png" />
			<a>表单管理</a>
			<ul>
				<li><img src="$ctx/resource/img/module/web/xinjian.png" />
					<a href="$ctx/form/form_list.htm" target="content">所有表单</a>
				</li>
				<li>
					<img src="$ctx/resource/img/module/web/xinjian.png" />
					<a href="$ctx/form/form_designer.htm" target="content">新建表单</a>
				</li>
				<li><img src="$ctx/resource/img/module/web/xinjian.png" /><a>已发布表单</a></li>
				<li><img src="$ctx/resource/img/module/web/xinjian.png" /><a>待发布表单</a></li>
			</ul>
		</li>
		<li>
			<img src="$ctx/resource/img/module/web/example.png" /><a>审批管理</a>
			<ul>
				<li><img src="$ctx/resource/img/module/web/xinjian.png" /><a>待审批</a></li>
				<li><img src="$ctx/resource/img/module/web/xinjian.png" /><a>已审批</a></li>
			</ul>
		</li>
	</ul>
</nav>
